<!DOCTYPE html>
<html>
<head>
    <title>Make-It-All Helpdesk</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 </head>

<body style="background-color: #f8f8e8; font-size: 120%;">
      <div class="container-fluid" style="margin-top: 3em;">
              <div class="row" style="margin: 0">
                    <div id="sidepanelclass="col-3" style="text-align: center;">
                          <div style="padding-bottom: 1.5em;">
                                <h2> Alice Banner <button type="button" class="btn"><i class="fas fa-cog"></i></button></h2>
                         </div>
                         <div style="padding-bottom: 1.5em;">
                               <ul class="nav nav-pills nav-fill">
                                     <li class="nav-item">
                                           <a class="nav-link active" href="#"><i class="fas fa-phone-volume" style="padding-right: 0.5em;"></i>My Calls</a>
                                     </li>
                                     <li class="nav-item">
                                           <a class="nav-link" href="#"><i class="fas fa-plus" style="padding-right: 0.5em;"></i>Incoming Call</a>
                                     </li>
                                     <li class="nav-item">
                                           <a class="nav-link" href="#"><i class="fas fa-bars" style="padding-right: 0.5em;"></i>All Calls</a>
                                     </li>
                              </ul>
                        </div>
                        <div style="overflow: auto; height: 35em;">
                              <div class="rounded p-4" style="margin: 0em;">
                                    <h3> Requests </h3>
                                    <button type="button" class="btn m-1 p-3 btn-info">Feedback Request</button>
                                    <button type="button" class="btn m-1 p-3 btn-info">Closure Request</button>
                              </div>
                                <div class="rounded p-4 m-2" style="margin: 0em;">
                                      <h3> Calls </h3>
                                      <button type="button" class="btn m-1 p-3 btn-danger">Login Issue</span></button>
                                      <button type="button" class="btn m-1 p-3 btn-warning">No WiFi</button>
                                      <button type="button" class="btn m-1 p-3 btn-success">Broken USB</button>
                                      <button type="button" class="btn m-1 p-3 btn-success">Projector Bulb</button>
                                </div>
                                <div class="rounded p-4" style="margin: 0em;">
                                      <h3> Awaiting Response </h3>
                                      <button type="button" class="btn m-1 p-3 btn-warning">Update Issue</button>
                                      <button type="button" class="btn m-1 p-3 btn-success">Printer Ink</button>
                                </div>
                        </div>
                    </div>
                  <div class="col-9" style="text-align: center; margin-top: 2em;">
                        <div class="rounded p-4" style="background-color: white; border: 0.6em solid lightgrey; border-radius: 9px">
                              <h1 style="text-align: left"><span class="badge badge-secondary">Closure Request</span> <span class="badge badge-secondary">Issue #7323</span><span class="badge badge-secondary">.2</span> <span class="badge badge-secondary">Patrick Star</span></h1>
                              <div class="row" style="padding-top: 2em; padding-bottom: 1em;">
                                    <div class="col-6" style="text-align: left;">
                                          <ul class="list-group" style="text-align: left;">
                                                  <li class="list-group-item border-0"><i class="fas fa-user" style="padding-right: 1em;"></i>A1234 Patrick Star</li>
                                                  <li class="list-group-item border-0"><i class="fas fa-briefcase" style="padding-right: 1em;"></i>Accounting Dept, Room 12.3</li>
                                                  <li class="list-group-item border-0"><i class="fas fa-envelope" style="padding-right: 1em;"></i>p.star@makeitall.co.uk</li>
                                                  <li class="list-group-item border-0"><i class="fas fa-phone" style="padding-right: 1em;"></i>07413 012088</li>
                                                  <li class="list-group-item border-0"><i class="fas fa-desktop" style="padding-right: 1em;"></i>HP Deskjet 8300, Windows 7 Pro</li>
                                                  <li class="list-group-item border-0"><i class="fas fa-tablet-alt" style="padding-right: 1em;"></i>iPad Pro 12.9 2018, iOS 12.1</li>
                                                  <li class="list-group-item border-0"><i class="fas fa-box-open" style="padding-right: 1em;"></i>Office Suite, Arduino IDE</li>
                                    </div>
                                    <div class="col-6" style="text-align: left;">
                                          <ul class="list-group">
                                                  <li class="list-group-item border-0"><h4><span class="badge badge-info">12/04/2018</span><span class="badge badge-info"></span></h4>
                                                        <i class="fas fa-quote-right" style="padding-right: 1em;"></i>User cannot log into their account.
                                                  </li>
                                                  <li class="list-group-item border-0"><h4><span class="badge badge-info">15/04/2018</span><span class="badge badge-info">.1</span></h4>
                                                        <i class="fas fa-sync" style="padding-right: 1em;"></i>Information Update<br>
                                                        <i class="fas fa-quote-right" style="padding-right: 1em;"></i> Stuck on Group Policy Screen
                                                  </li>
                                                  <li class="list-group-item border-0"><h4><span class="badge badge-danger">17/04/2018</span><span class="badge badge-danger">SLA Agreement Deadline</span></h4>
                                                  </li>
                                                  <li class="list-group-item border-0"><h4><span class="badge badge-info">21/04/2018</span><span class="badge badge-info">.2</span></h4>
                                                        <i class="fas fa-user-plus" style="padding-right: 1em;"></i>Tony Stark A2312<br>
                                                        <i class="fas fa-question" style="padding-right: 1em;"></i>  Feedback Request<br>
                                                  </li>
                                                  <li class="list-group-item border-0"><h4><span class="badge badge-success">23/04/2018</span><span class="badge badge-success">Solved</span></h4>
                                                        <i class="fas fa-calendar" style="padding-right: 1em;"></i>6 days behind schedule<br>
                                                        <i class="fas fa-quote-right" style="padding-right: 1em;"></i>Your account has been added to the right user groups now.<br>
                                                  </li>
                                          </ul>
                                    </div>
                              </div>
                              <div class="btn-block" style="margin-top: 2em;">
                                    <button type="button" class="btn btn-primary btn-lg">Deny Closure<i class="fas fa-times" style="padding-left: 0.5em;"></i></button>
                                    <button type="button" class="btn btn-primary btn-lg">Confirm Closure<i class="fas fa-check" style="padding-left: 0.5em;"></i></button>
                              </div>
                       </div>
                  </div>
              </div>
</body>
</html>
